h1 {
    color: #212121 !important;
    margin-top: 64px;
    padding-left: 12px;
}

h2 {
    margin-bottom: 20px;
}

.single-blog-post {
    position: relative;
    z-index: 1;
    overflow: hidden;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
    border-radius: 8px;
}

.bg-overlay {
    position: relative;
    z-index: 2;
    background-position: center center;
    background-size: cover;
}

.navbar {
    background-color: #0048ff !important;
    height: 70px;
}

.blog-thumbnail {
    width: 100%;
    position: relative;
    background: #0048ff;
}


.blog-thumbnail img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.blog-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 19;
    padding: 20px;
    color: #FFF;
}

.blog-content > span {
    font-size: 1rem;
    display: flex;
}

.blog-content > a {
    font-size: 2rem;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 2px 2px rgba(0,0,0,.3);
}

.mt-20 {
    margin-top: 20px;
}

.p-12 {
    padding: 12px;
}

.card-body {
    padding: 30px;
    background: #f9f9f9;
}

.text-muted {
    --bs-text-opacity: 1;
    color: var(--bs-secondary-color) !important;
    font-size: .82rem;
    margin-bottom: 5px;
}

.btn-sm {
    padding: 0;
    color: #0048ff;
    margin-top: 15px;
}


footer {
    background-color: #212121 !important;
    color: #FFF;
    padding: 50px;
}